* {
    box-sizing: border-box; 
}
body {
    background-image: linear-gradient(-45deg, #222, #000, #000);
    color: white;
}

/* Title pane */

.title {
    padding: 4px;
    text-align: center;
    font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/HAL9000.svg/256px-HAL9000.svg.png);
    background-position: center;
    background-repeat: no-repeat;
    text-shadow: 0 0 32px #f66; 
}
.title h1 {
    font-size: 68px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.title h3 {
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 4px;
    padding-bottom: 10px;
}

/* Rows and left/middle/right panes */

.row {
    text-transform: uppercase;
    overflow: auto;
}
.left-pane {
    padding: 0px 48px 16px 128px;
    float: left;
    width: 40%;
}
.right-pane {
    padding: 0px 128px 16px 48px;
    float: left;
    width: 40%;
}

/* Monitor screens */

@keyframes flicker {
    from {
        color: white;
        text-shadow: 0 0 12px#AAA;     
    }
    to { 
        color: #FFFFFF00;
        text-shadow: 0 0 0px #AAAAAA00; 
    }
}

.monitor {
    padding: 14px;
    display: block;
    width: 100%;
    height: 250px;
    border-radius: 8px;
}
.monitor h1 {
    margin: 0;
    font-size: 54px;
    font-weight: 900;
    letter-spacing: 24px;
    text-align: center;
}
.monitor p {
    padding: 48px 0px 0px 32px;
    margin: 0;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 2px;
    text-align: left;
}
.monitor pre {
    margin: 0;
    color: #CCC;
    font-family: Lekton;
    font-size: 15px;
    line-height: 17px;
    text-shadow: 0 0 3px #888;
    overflow: hidden;     
}
.red {
    text-shadow: 0 0 12px#FAA;     
    background-color: #500;
    background-image: linear-gradient(150deg, #300, #500, #C00);
    box-shadow: 4px 4px 16px #300;
}
.green {
    text-shadow: 0 0 12px#AFA;     
    background-color: #052;
    background-image: linear-gradient(150deg, #031, #052, #0C4);
    box-shadow: 4px 4px 16px #031;
}
.blue {
    text-shadow: 0 0 12px#AAF;     
    background-color: #025;
    background-image: linear-gradient(150deg, #013, #025, #04C);
    box-shadow: 4px 4px 16px #013;
}
.purple {
    text-shadow: 0 0 12px#FAA;     
    background-color: #502;
    background-image: linear-gradient(150deg, #301, #502, #C04);
    box-shadow: 4px 4px 16px #301;
}
.monitor-content {
    display: block;
    font-family: 'Michroma', sans-serif;
    font-style: normal;
    text-decoration: none;
    color: white;
    transition: transform 0.2s;
}
.monitor-content:hover {
    transform: scale(1.1) translate(2%);
}
.monitor-content:active {
    animation: flicker 50ms ease 0s infinite forwards;
}
.flicker-slow {
    animation: flicker 200ms ease 0s infinite forwards;
}
.flicker-medium {
    animation: flicker 100ms ease 0s infinite forwards;
}
.flicker-fast {
    animation: flicker 50ms ease 0s infinite forwards;
}

/* Button menu panes */

.buttonpane {
    float: left;
    width: 20%;
    margin: 8px 0 0 0;
    padding: 0px 16px;
    background-image: linear-gradient(-45deg, #000, #111, #000);
    border-radius: 8px;
    box-shadow: 0px 0px 8px #111;
    font-family: 'Michroma', sans-serif;
    font-size: 12px;
    text-align: center;
    color: #888;
}   
.titlebar {
    padding-top: 4px;
    height: 16px; 
    border-bottom: 4px solid #888;
}
.titlebar em {
    padding: 0 10px;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    background-image: linear-gradient(45deg, #000, #111);
}

.button {
    margin: 20px 0px;
    display: block;
    overflow: hidden;
    padding: 12px 8px;
    font-weight: 900;
    text-decoration: none;
    text-shadow: 0 0 4px #CCF;
    color: #222;
    background-image: radial-gradient(rgb(167, 239, 248), rgb(77, 126, 133));
    border-radius: 4px; 
    box-shadow: 4px 4px 16px #014;
}
.button:hover {
    background-image: radial-gradient(rgb(215, 246, 250), rgb(138, 211, 223));
    box-shadow: 4px 4px 20px #248;
}
.button:active {
    transform: translateY(1px);
    background-image: radial-gradient(rgb(248, 167, 167), rgb(133, 77, 77));
    box-shadow: 4px 4px 20px #820;
}

/* Footer */

.footer {
    color: #AAA;
    text-align: center;
    font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 2px;
    padding-top: 8px;
    padding-bottom: 4px;
}

canvas {
    width: 100%;
    height: 100%;
}

/* Responsive layout  */

@media only screen and (max-width:1250px) {
    .left-pane, .right-pane {
        padding: 0px 48px 16px 48px;
    }
}
@media only screen and (max-width:1000px) {
    .left-pane, .right-pane {
        padding: 0px 16px 16px 16px;
    }
}
@media only screen and (max-width:768px) {
    .left-pane, .right-pane, .buttonpane {
        width:100%;
        padding: 16px 64px 0px 64px;
    }
}